version: "3.8"

services:
  app:
    build: .
    ports:
      - "8080:80"
    depends_on:
      - db
    volumes:
      - .:/var/www/html
    environment:
      - DB_HOST=sql204.infinityfree.com
      - DB_NAME=if0_40542812_tp_groupe
      - DB_USER=if0_40542812
      - DB_PASS=iDqKrepEsjy2

  db:
    image: mysql:8.0
    ports:
      - "3306:3306"
    environment:
      MYSQL_ROOT_PASSWORD: rootpassword
      MYSQL_DATABASE: if0_40542812_tp_groupe
      MYSQL_USER: if0_40542812
      MYSQL_PASSWORD: iDqKrepEsjy2
    volumes:
      - mysql_data:/var/lib/mysql

volumes:
  mysql_data:
